@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

/* El estilo base para moviles */

/* Iphone 6/7/8 */

@media only screen and (min-width: 414px) {
    body {
        background-color: #112935;
        color: white;
        font-family: 'Montserrat', sans-serif;
        /*Se define el estilo base para el fondo y la fuente de la pagina*/
        text-align: center;
        font-weight: 400;
    }
    .header {
        display: flex;
        justify-content: space-between/*Ultilizando Flex se coloca el contenido del header a la misma distacia entre elementos*/
    }
    .header img {
        padding-left: 1em;
        width: 135px;
        padding-bottom: 2em;
    }
    .src-only {
        display: none;
        /*Se oculta el elemento con clase 'src-only'*/
    }
    .hide-mobile {
        display: none;
        /*Se oculta el elemento con clase 'hide-mobile' */
    }
    p {
        font-size: 0.75em;
        /*A todos los parrafos sin excepcion se le asigna tamaño de fuente y padding*/
        padding: 1rem;
        line-height: 25px;
    }
    .logo {
        width: 90px;
        /*A la clase logo se le define ancho y margen*/
        margin: 1em;
    }
    .options {
        color: inherit;
        text-decoration: none;
        /*Al menu de la pagina se le asigna la posicion en la parte superior derecha de la pag */
        position: relative;
        top: 30%;
        right: 95%;
        font-size: 1.5rem;
        display: flex;
        flex-wrap: wrap-reverse;
        /*Con la propiedad de flex wrap se da la libertad si es necesario de que los elementos se coloquen en varias lineas*/
        flex-direction: row-reverse;
    }
    .options i:last-child {
        font-size: 2rem;
        display: flex;
        color: whitesmoke;
        padding-top: 0em;
        padding-right: 0.25em;
        padding-bottom: 1.3em;
        /*Al ultimo hijo del tipo 'i' dentro de la clase options se le define un tamaño de fuente*/
    }
    /* Big area */
    .big-hero img {
        width: 150px;
        /* Se define el ancho de la imagen principal */
    }
    .big-hero h2 {
        font-size: 1.875em;
        font-weight: 700;
        /*Al texto 'Nestor Aldana' se le coloca tamaño de fuente, margen */
        letter-spacing: 0.002em;
        margin-top: 1em;
    }
    .big-hero p {
        font-size: 0.7em;
        color: #D7DEE6;
        /*Cambio de color y tamaño de fuente en el parrafo dentro de la clase big-hero*/
    }
    /* Social links*/
    .social-links {
        list-style: none;
        padding: 0;
        margin-top: -3em;
        /*Para los iconos de twitter y git-hub se asigna un posicionamiento lineal y centrado */
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 3em;
    }
    .social-links li a {
        color: #D7DEE6;
        text-decoration: none;
        /*Se modifica el color, tamaño y padding de los iconos*/
        font-size: 5em;
        padding: 0.2em;
    }
    .green-area {
        background-color: #0AC693;
        /*Se define color a la parte de publicaciones*/
    }
    .post {
        padding: 1em;
        margin-bottom: -2px;
        /*Se coloca un padding y un margen inferior*/
    }
    .post h2 {
        text-transform: uppercase;
        font-weight: 700;
        /*Al texto 'Publicaciones' se le define la fuente en mayuscula, su tamaño y margen */
        font-size: 1.125em;
        margin: 1em;
        padding-right: 1em;
    }
    .post ul {
        list-style: none;
        /*No se le define estilo alguno a la lista de articulos*/
    }
    .post ul li {
        min-height: 300px;
        max-width: 350px;
        /*A cada articulo se le define un tamaño min y max, ademas del margen */
        margin: 2rem auto;
        padding-right: 4em;
        padding-left: 4em;
    }
    .post ul li article {
        overflow: hidden;
        border-radius: 10px;
        background-color: #ffffff;
        /*Para los articulos se oculta los elementos si llegan a salirse del contenedor ademas se define un color y un borde redondeado */
        text-align: left;
        padding-bottom: 2em;
    }
    .post article img {
        height: 150px;
        width: 100%;
        /*La imagen de cada articulo cubre en su totalidad el ancho y alto que se la asignado*/
        object-fit: cover;
    }
    .post article h3 {
        color: #0D5061;
        margin-top: 2em;
        padding: 0em 1rem;
        font-size: 0.9em;
        white-space: nowrap;
        /*Se posiciona el texto en una sola linea*/
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .post article p {
        color: #112935;
        font-size: 0.75em;
        /*Estilo para el parrafo de cada articulo*/
        padding: 1rem;
        line-height: 25px;
    }
    /* About */
    .about {
        margin-top: 2em;
        /*Se define un margen superior para toda la clase about*/
    }
    .about h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.125em;
        /*El texto 'Acerca de' se define con mayuscula y con un tamaño especifico*/
        margin: 2em;
    }
    .bio-info img {
        width: 200px;
        height: 150px;
        padding-right: 1em;
        /*Ancho de la imagen de clase bio-info*/
    }
    .bio-info p {
        font-size: 10px;
        padding: 2em;
        text-align: justify;
        /*Estilo para el parrafo de la clase bio-info*/
        line-height: 20px;
        letter-spacing: 1px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-right: 4em;
        margin: 0em 4em 0em 5em;
    }
    .contact {
        display: flex;
        flex-direction: column;
        /*Se define la posicion de los formularios con Flex*/
        text-align: left;
        justify-content: center;
        padding: 0em 6em 2em 4em;
    }
    .contact *+* {
        margin-top: 1.5em;
    }
    .contact-form {
        display: flex;
        flex-direction: column;
        /*Posicionamiento en columna de los formularios*/
    }
    .contact-form input, .contact-form textarea {
        padding: 1rem 2rem;
        border: none;
        border-radius: 0px 2em;
        /*Estilo de bordes y paddins para las entradas y areas de textos*/
        font-size: 1em;
        width: 100%;
    }
}

/* Decorando placeholder */

::-webkit-input-placeholder {
    color: #D7DEE6;
    /*Color del marcador de posicion de texto del formulario*/
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #D7DEE6;
    /*Color de texto dentro de un formulario para Mozila*/
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #D7DEE6;
    /*Color de texto dentro de un formulario para Mozila*/
}

:-ms-input-placeholder {
    color: #D7DEE6;
    /*Color de campos de entrada de los formularios*/
}

.contact-form input[type=submit] {
    background-color: #F74442;
    font-weight: 400;
    /*Personalizacion de boton de tipo 'submit' Contactar*/
    color: white;
    font-size: 1rem;
}

.black-decoration {
    background-image: url("../images/decoracion_oscura_small.svg");
}

footer {
    background-color: #0D5061;
    /*Color de fondo y color de texto de pie de pagina*/
    color: #D7DEE6;
}

footer .social-links {
    margin-top: -0em;
    padding-bottom: 0em;
    /*Margen 0 para los iconos del pie de pagina*/
}

footer p {
    padding-top: 0em;
}

.menu {
    background-color: #112935;
    position: absolute;
    z-index: 20;
    top: 60px;
    /*Posicionamiento del menu principal de la pagina */
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

.menu {
    list-style: none;
    text-align: left;
    /*Posicionamiento del texto del menu*/
    padding: 1em;
}

.menu li {
    display: block;
    padding: 0.5em;
    /*Todos los elementos de la lista del menu se muestra en bloque*/
    margin-top: 5px;
}

.menu li a {
    color: white;
    /*Color de enlace*/
    text-decoration: none;
}

/* Pesonalizando estilo para tablets*/

@media only screen and (min-width: 768px) {
    .header a img {
        margin-top: 0.8em; /*Posicionamiento de logo del header*/
        height: 150px;
    }
    .post ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        /*Centrando en el eje x la lista dentro de la clase post*/
        justify-content: center;
    }
    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        /*Asignando alto minimo y maximo a los articulos de clase post*/
        margin: 1rem 2rem;
        flex: 1 0 500px;
    }
    .post ul li article {
        height: 400px;
        width: 350px;    /*Modificando el tamaño de cada articlo de post*/
        text-align: justify;
        margin-left: -4em;
    }
    .social-links li a {
        color: #D7DEE6;
        text-decoration: none;
        /*Se modifica el color, tamaño y padding de los iconos*/
        font-size: 6em;
    }
    .logo {
        width: 150px;
        /*Ancho de logo del header*/
        margin: 1.5em;
    }
    .show-desktop {
        display: none;
        /*Se ocultan los elementos de la clase show-desktop*/
    }
    .hide-desktop {
        display: none;
        /*Se ocultan los elementos*/
    }
    .menu {
        background-color: #112935;
        position: static;
        z-index: 20;
        /*Estilo y posicionamiento del menu para la vista en una tablet*/
        width: auto;
        height: auto;
        display: flex;
        margin-top: 1em;
    }
    .about p {
        text-align: justify;
    }
    /*TODO: FALTA CSS */
}


    @media only screen and (min-width: 1024px) {
        .container {
           
            width: 100%;
            margin: 0 auto;
            max-width: 1024px;
        }
        .show-desktop {
            display: inline;
            /*Los elementos se muestran en linea*/
        }
        .hide-desktop {
            display: none;
        }
        .header ul {
            display: inline-flex;
        }
        
        .post ul {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            flex-direction: space-around;
        }
        .about .container {
            display: grid;
            grid-template-columns: 650px 600px;
            /*Con grid se defienen las columnas y filas en que se divide el contenedor de la clase about*/
            grid-template-rows: 150px 600px;
        }
        .bio-info {
            display: grid;
            grid-column: 1/2;
            /*Se especifica que columnas y filas tienen que ocupar los elementos de la clase 'bio-info' */
            grid-row: 2/3;
           
        }
        .bio-info img {
            height: 250px;
            width: 250px;
            /*Tamaño de la imagen de la clase bio-info*/
            margin-left: 10em;
        }
        .bio-info p {
            text-align: justify;
            letter-spacing: 0.1em;
            font-size: 16px;
            padding-top: 2em;
            padding-right: 1em;
            padding: 0px 5px 0px 0px;
            /*Padding  del parrafo de la clase bio-info*/
        }
        .contact {
            display: grid;
            grid-column: 2;
            /*Se especifica que columnas y filas cubriran los formularios de la clase contact*/
            grid-row: 2/3;
            padding-right: 2em;
        }
        .about .container h2 {
            display: grid;
            grid-column: 1/3;
            padding-right: 530px;
            /* Se define la columna y el padding al texto 'Acerca de '*/
            padding-left: 530px;
            text-align: end;
        }
        .menu {
            margin-right: -45px;
            /*Margen derecho para el menu principal de la pagina*/
        }
        #menu li .c:hover {
            color: red;
            /*Color para un elemento del menu*/
        }
        .fa-arrow-circle-down {
            color: #0D5061;
            /*Color y padding del boton de big-hero*/
            padding: 3em;
        }
        .social-links li a i {
            font-size: 100px;
            /*Tamaño y padding para los iconos de twitter y git-hub*/
            padding: 0.1em;
        }
        .fa-arrow-circle-down {
            color: #0AC693;
            font-size: 75px;
            /*Color, tamaño y padding del boton de big-hero*/
            padding-top: 0em;
            padding-bottom: 1em;
        }
    @media only screen and (min-width: 1440px) {
        /*TODO: FALTA CSS */
        .container {
            width: 80%;
            margin: 0 auto;
            max-width: 1440px;
        }
        .show-desktop {
            display: inline; 
            /*Los elementos se muestran en linea*/
        }
        .hide-desktop {
            display: none; /*Se ocultan elementos que no deben estar en esta resolucion*/
        }
        .header ul {
            display: inline-flex; /*Se coloca el menu en linea*/
        }
        .post ul {
            display: flex;
            flex-wrap: nowrap;    /*Se define el posicionamiento de cada articulo de la clase post*/
            justify-content: center;
            flex-direction: space-around;
        }
        .about .container {
            display: grid;
            grid-template-columns: 650px 600px;
            /*Con grid se defienen las columnas y filas en que se divide el contenedor de la clase about*/
            grid-template-rows: 150px 600px;
        }
        .bio-info {
            display: grid;
            grid-column: 1/2;
            /*Se especifica que columnas y filas tienen que ocupar los elementos de la clase 'bio-info' */
            grid-row: 2/3;
            
        }
        .bio-info img {
            height: 250px;
            width: 250px;
            /*Tamaño de la imagen de la clase bio-info*/
            margin-left: 10em;
        }
        .bio-info p {
            text-align: justify;
            letter-spacing: 0.1em;
            font-size: 16px;
            padding-top: 2em;
            padding-right: 1em;
            padding: 0px 5px 0px 0px;
            /*Tamaño y Padding  del parrafo de la clase bio-info*/
        }
        .contact {
            display: grid;
            grid-column: 2;
            /*Se especifica que columnas y filas cubriran los formularios de la clase contact*/
            grid-row: 2/3;
            padding-right: 2em;
        }
        .about .container h2 {
            display: grid;
            grid-column: 1/3;
            padding-right: 530px;
            /* Se define la columna y el padding al texto 'Acerca de '*/
            padding-left: 530px;
            text-align: end;
        }
        .menu {
            margin-right: -45px;
            /*Margen derecho para el menu principal de la pagina*/
        }
        #menu li .c:hover {
            color: red;
            /*Color para un elemento del menu*/
        }
        .fa-arrow-circle-down {
            color: #0D5061;
            /*Color y padding del boton de big-hero*/
            padding: 3em;
        }
        .social-links li a i {
            font-size: 100px;
            /*Tamaño y padding para los iconos de twitter y git-hub*/
            padding: 0.1em;
        }
        .fa-arrow-circle-down {
            color: #0AC693;
            font-size: 75px;
            /*Color, tamaño y padding del boton de big-hero*/
            padding-top: 0em;
            padding-bottom: 1em;
        }
    }